@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body{
    font-family: 'Roboto', sans-serif;
}

header{
    font-family: 'Roboto', sans-serif;
    position: absolute;
    margin-bottom: 10px;
    padding-bottom: 10px;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    font-weight: bold;
    padding: 10px 10px;
    border-bottom: 1px solid black;
    background-color: rgb(244, 90, 18);
}

h1{
    margin-top: 80px;
    height: 100%;
}

main {
    width: 100%;
    left: 0;
    padding-bottom: 40px;
}

ol{

}

footer{
    position: absolute;
    left: 0;
    width: 100%;
    font-weight: bold;
    padding: 30px 30px;
    background-color: rgb(118, 197, 82);
}

a:hover {
    background-color: rgb(212, 248, 212);
    transition: background-color 0.5s
}

.white-text{
    color: white;
    font-weight: bold;
}

.green{
    color: rgb(29, 111, 82);
}

.five-by-two-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(2, auto);
}

tr:not(:first-child){
    background-color: gray;
}

tr:nth-child(even)
{
    background-color: white;
}

h3 > a{
    color: rgb(72, 177, 56);
}
